# Xamarin .gitignore
# credits https://forums.xamarin.com/discussion/13221/version-control-in-xamarin-studio

# Autosave files
*~

# Build/test output
obj
bin
test-results

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# NuGet packages
packages/*

# VS stuff
.vs/*
univr-orari/App\.private\.cs
